/*
 * Module Css
 * Bu kullanımda her css dosyası bir modül yapısındandır ve tek bir bieleşen özeldir.

 * class isimlendirirken acaba bu isim farklı bir yerde kullanıldımı diye dert etmeye gerek kalmıyor. çünkü module css'de tanımlanana class ismini bir yerde import edildiğinde benzersiz bir classname oluşturur.

 * class ismi tanımlrken bu bir nesnenein içerisnde property olucağı için özel karakter kullanmayız
*/

.note_card {
  cursor: pointer;
  transition: all 0.4s;
}

.note_card:hover {
  transform: translate(10px, -10px);
  filter: drop-shadow(0 0 20px rgba(255, 255, 255, 0.3));
}
